.App {
  max-width: 380px;
  margin: 20px auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > * {
  margin-top: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.form .btns {
  display: flex;
  justify-content: space-around;
}

.form button {
  margin: 10px;
}

.error {
  background-color: lightpink;
  padding: 20px;
  border: 1px solid orangered;
  border-radius: 5px;
  text-align: center;
}

.loader-wrapper {
  text-align: center;
}

ul {
  padding-left: 0;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}